.admin{
  text-decoration: none;
  color: inherit;
  
}

html{
  text-align: center;
 
}

h1{ 
  font-family: 'Reenie Beanie'; 
  background-color: #609A7D;
  font-size: auto;
  border: 1px #609A7D;
  padding: 10px;
}

body {
  font-size: auto;
  font-family:  'Baloo Bhaina 2';
  background-color: #DC9A7D;
}

article{
  background-color: #609A7D;
 
}




footer{
  font-family: 'Noto Sans', sans-serif;
  text-decoration: none;

}







/* Polices
TEXTES
font-family: 'Noto Sans', sans-serif;

Header
font-family: 'Reenie Beanie'; 

TITRES
font-family:  'Baloo Bhaina 2';
*/