

.confidentiality-r {
  font-family: 'Noto Sans', sans-serif;
  color: orange;
}

.admin{
  text-decoration: none;
  color: inherit;
  
}

header{
  color: green;
  font-family: 'Reenie Beanie'; 

}

 
body{
  font-family:  'Baloo Bhaina 2';
 
 }
 
